body{
  margin: 0;
  font-family: Poppins, sans-serif;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;
  height: 100vh;
}

img{
  width: 300px;
  height: 300px;
}

.buttons{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

button{
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 20px 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: black;
  background-color: yellow;
}

#Modo-zen{
  background-color: green;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;


}

#Modo-caos{
  background-color: red;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  left: 20px;
  
}
  
